h1, h2, h3, h4, h5, h6, body, table, p, div, span, a, li {
  font-weight: normal;  
  font-family: 'Helvetica';
  vertical-align:middle;
  text-shadow: 0 0px 0;
}

#table_panel  {
	width: 25%;
	height: 100%;
	border: 1px solid black;
	float: left;
}
#right_panel{
	
	height: 100%;
	border: 1px solid black;
	float: right;
}

div.innerPanel{
	height: 30%;
	border: 1px solid black;
	overflow: auto;
}
div.table{
	
	
}

div.table-container {
	width: 100px;
	border: #DDDDDD 1px solid;
	display: inline-block;
	
}

div.table-cell {	
	border: #CCCCCC 1px solid;
	padding: 2px;
	padding-left: 4px;
	width: 100%;
}

div.er-diagram {
	width: 100%;
	height: 100%;
	overflow: auto;
	border: #CCCCCC 1px solid;
	
}
.ui-widget-content{
	border: 0px !important;
} 

.ui-accordion-header{
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
}

.droppable-hover {	
	background-color: yellow;
}